<div id="navbar" class="navbar-collapse collapse">
  <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
    <li class="active"><a href="/">Home</a></li>            
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course <span class="fa fa-angle-down"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/courses">Course Archive</a></li>                
        <li><a href="/courses">Course Detail</a></li>                
      </ul>
    </li>           
    <li><a href="/gallery">Gallery</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="fa fa-angle-down"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/posts">Blog Archive</a></li>                
        <li><a href="/blogSingle">Blog Single</a></li>                
      </ul>
    </li>            
    <li><a href="/contact">Contact</a></li>
    <li><a href="/404">404 Page</a></li>               
    <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>

    <li><a href="/userlogin">login</a></li>
  </ul>                     
</div>